<%- include("head")-%>

<link rel="stylesheet" href="/DataViewStudent.css"> <!--CSS new-->


<%- include("adminNav")-%>



<!--Heading/title -->
    <div class="heading1 offset-md-1 ">
    <span>Student Details</span>
    </div>


<!-- Tables-->


<section>



<!--

<div class="fluid-container offset-md-1">

  <h2>Basic Table</h2>
  <p>The w3-table class defines a basic table:</p>


  <table class="DTpos">
  
    <tr>
      <th class="col-md-2">First Name</th>
      <th class="col-md-2">Last Name</th>
      <th class="col-md-2">Points</th>
      <th class="col-md-2">First Name</th>
      <th class="col-md-2">Last Name</th>
  
    </tr>
    
    
    <tr>
      <td class="col-md-2">Jill</td>
      <td class="col-md-2">Smith</td>
      <td class="col-md-2">50</td>
    </tr>


    <tr>
      <td class="col-md-2" >Eve</td>
      <td class="col-md-2" >Jackson</td>
      <td class="col-md-2">94</td>
    </tr>


    <tr>
      <td>Adam</td>
      <td>Johnson</td>
      <td>67</td>
    </tr>


  </table>
</div>
-->


<!-- Table information -->

<div class="container  TApos">

<table>

  <tr>

    <th class="HTopRow">FIRST NAME</th>
    <th class="HTopRow">LAST NAME</th>
    <th class="HTopRow">E-MAIL ID</th>
    <th class="HTopRow">USN</th>
    <th class="HTopRow">BRANCH</th>
    <th class="HTopRow">YEAR</th>


  </tr>

  <tr>
    <td class="">Fname</td>
    <td class="">Lname</td>
    <td class="">Mail</td>
    <td class="">Usn</td>
    <td class="">Branch</td>
    <td class="">Year</td>
  </tr>

  <tr>
     <td class="">Fname</td>
    <td class="">Lname</td>
    <td class="">Mail</td>
    <td class="">Usn</td>
    <td class="">Branch</td>
    <td class="">Year</td>
  </tr>

    <tr>
       <td class="">Fname</td>
    <td class="">Lname</td>
    <td class="">Mail</td>
    <td class="">Usn</td>
    <td class="">Branch</td>
    <td class="">Year</td>
  </tr>

    <tr>
       <td class="">Fname</td>
    <td class="">Lname</td>
    <td class="">Mail</td>
    <td class="">Usn</td>
    <td class="">Branch</td>
    <td class="">Year</td>
  </tr>

    <tr>
       <td class="">Fname</td>
    <td class="">Lname</td>
    <td class="">Mail</td>
    <td class="">Usn</td>
    <td class="">Branch</td>
    <td class="">Year</td>
  </tr>  


  </table>


</div>

</section>

<!--position of footer-->
<div class= "AdminFooter" >
<%- include("footer")-%>
</div>
