<%- include("head")-%>

<link rel="stylesheet" href="/DataViewEventsRegis.css"> <!--CSS new-->


<%- include("adminNav")-%>



<!--Heading/title -->
    <div class="heading1 offset-md-1 ">
    <span>Events - Registration Closed</span>
    </div>


<!-- Tables-->


<section>


<!-- Table information -->

<div class="container  TApos">

<table>

  <tr>

    <th class="HTopRow">EVENT ID</th>
    <th class="HTopRow">EVENT NAME</th>
    <th class="HTopRow">EVENT DESCRIPTION</th>
    <th class="HTopRow">START DATE</th>
    <th class="HTopRow">DUE DATE</th>
    <th class="HTopRow">EVENT DATE</th>


  </tr>

  <tr>
    <td class=""><a href="https://www.youtube.com/watch?v=Bg8Yb9zGYyA" >Fname</a></td>
    <td class=""><a href="https://www.youtube.com/watch?v=Bg8Yb9zGYyA" >Fname</a></td>
    <td class=""><a href="https://www.youtube.com/watch?v=Bg8Yb9zGYyA" >Fname</a></td>
    <td class=""><a href="https://www.youtube.com/watch?v=Bg8Yb9zGYyA" >Fname</a></td>
    <td class=""><a href="https://www.youtube.com/watch?v=Bg8Yb9zGYyA" >Fname</a></td>
    <td class=""><a href="https://www.youtube.com/watch?v=Bg8Yb9zGYyA" >Fname</a></td>

  </tr>

  <tr>
     <td class="">Fname</td>
    <td class="">Lname</td>
    <td class="">Mail</td>
    <td class="">Usn</td>
    <td class="">Branch</td>
    <td class="">Year</td>
  </tr>

    <tr>
       <td class="">Fname</td>
    <td class="">Lname</td>
    <td class="">Mail</td>
    <td class="">Usn</td>
    <td class="">Branch</td>
    <td class="">Year</td>
  </tr>

    <tr>
       <td class="">Fname</td>
    <td class="">Lname</td>
    <td class="">Mail</td>
    <td class="">Usn</td>
    <td class="">Branch</td>
    <td class="">Year</td>
  </tr>

    <tr>
       <td class="">Fname</td>
    <td class="">Lname</td>
    <td class="">Mail</td>
    <td class="">Usn</td>
    <td class="">Branch</td>
    <td class="">Year</td>
  </tr>  


  </table>


</div>

</section>

<!--position of footer-->
<div class= "AdminFooter" >
<%- include("footer")-%>
</div>
