<%- include("header")-%>

<!--Events Available for Registration-->
         
<section>

    <div class="CTpos ">
        <h2><i class="fas fa-arrow-circle-right"></i><span style="padding-left: 10px;">Events Available for Registration :</span></h2>
    </div>


    <div class="container CNpos CNstyle" >
        <p style="font-size: 18px;">Don't call me lucky if you're sleeping while I'm working, so be quick and grab your opportunity.
         Below are your dream sports and sufficient opportunities, which might be gone in a jiffy so be quick and register now!</p>
    </div>


    <div class="MCpos fluid-container">
        <div class="row">
           
            <div class="col-md-8 offset-md-2">
                <div class="bd-example" data-example-id="">
                   <div id="accordion" role="tablist" aria-multiselectable="true">
        
        
                    <div class="card Cpos">
                        <div class="card-header1" role="tab" id="headingTwo">
                          <div class="mb-0">
                            <a  href="/registration" class="apos">     
                                <h3><b>Official cricket team selection for 1st year B.E </b></h3>
                                <span class="date">DEC &nbsp;22</span> 
                                <p class="Secline">Inter-college cricket event is being scheduled. So gyus wake up and register for the selection.</p>
                            </a>
                          </div>
                        </div>
                      </div>
  
                      <div class="card Cpos">
                        <div class="card-header1" role="tab" id="headingTwo">
                          <div class="mb-0">
                            <a  href="" >
                                <h3><b>Official basketball team selection for 3st year B.E </b></h3>
                                <span class="date">DEC &nbsp;02</span>
                                <p class="Secline">Inter-college cricket event is being scheduled. So gyus wake up and register for the selection.</p>
                            </a>
                          </div>
                        </div>
                      </div>


                      <div class="card Cpos">
                        <div class="card-header1" role="tab" id="headingTwo">
                          <div class="mb-0">
                            <a  href="" >
                                <h3><b>Chess inter-state competation, selection for 2st year B.E</b></h3>
                                <span class="date">NOV &nbsp;15</span>
                                <p class="Secline">Inter-State chess event is being scheduled. So gyus wake up and register for the selection.</p>
                            </a>
                          </div>
                        </div>
                      </div>


                      <div class="card Cpos">
                        <div class="card-header1" role="tab" id="headingTwo">
                          <div class="mb-0">
                            <a  href="" >
                                <h3><b>Kreedosthava, Girls throwball selection for 2st year B.E</b></h3>
                                <span class="date">NOV &nbsp;02</span>
                                <p class="Secline">Kreedothsave event is being scheduled. So gyus wake up and register for the selection.</p>
                            </a>
                          </div>
                        </div>
                      </div>


                      <div class="card Cpos">
                        <div class="card-header1" role="tab" id="headingTwo">
                          <div class="mb-0">
                            <a  href="" >
                                <h3><b>Badminton inter-state competation, selection for 2st year B.E</b></h3>
                                <span class="date">OCT &nbsp;19</span>
                                <p class="Secline">Inter-State Badminton event is being hosted for both boys and girls, so gyus wake up and register for the selection.</p>
                            </a>
                                
                          </div>

                        </div>
                      </div>

                    <div class="card Cpos">
                        <div class="card-header1" role="tab" id="headingTwo">
                          <div class="mb-0">
                            <a  href="" class="apos">     
                                <h3><b>Official cricket team selection for 3rd year B.E </b></h3>
                                <span class="date">SEPT &nbsp;22</span> 
                                <p class="Secline">Inter-college cricket event is being scheduled. So gyus wake up and register for the selection.</p>
                            </a>
                          </div>
                        </div>
                      </div>


                    <div class="card CLpos">
                        <div class="card-header1" role="tab" id="headingTwo">
                          <div class="mb-0">
                            <a  href="" >
                                <h3><b>Wrestling inter-state competation, selection for 2st year B.E</b></h3>
                                <span class="date">SEPT &nbsp;15</span>
                                <p class="Secline">Inter-college wrestling event is being scheduled. So gyus wake up and register for the selection.</p>
                            </a>
                          </div>
                        </div>
                      </div>
                      
                      


                   </div>
               </div>
            </div>
        </div>
    </div>
</section>

 <!--END events registration -->

<%- include("footer")-%>