
<footer id="dk-footer" class="dk-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-4">
                <div class="dk-footer-box-info">
                    <a href="index.html" class="footer-logo">
                    </a>
                    <p class="footer-info-text" style="color: rgb(189, 189, 189);" >
                      Get connected with us!
                    </p>
                    <div class="footer-social-link">
                        <h3>Follow us</h3>
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/?lang=en" target="_blank">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://myaccount.google.com/" target="_blank">
                                    <i class="fab fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/login" target="_blank">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Social link -->
                </div>
                <!-- End Footer info -->
                <div class="footer-awarad">
                    <img src="images/icon/best.png" alt="">
                    <p>BMSCE ARENA 2020</p>
                </div>
            </div>
            <!-- End Col -->

            <div class="col-md-12 col-lg-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="contact-us">
                            <div class="contact-icon">
                                <i class="fa fa-map-o" aria-hidden="true"></i>
                            </div>
                            <!-- End contact Icon -->

                            <i class="fas fa-map-marker-alt fa-2x" style="color: #007bff;"></i>
                            <div class="contact-info" style="margin-left: 20px;">
                             
                                <h3>Bangalore, India</h3>
                                <p> Bull Temple Rd, Basavanagudi, Bengaluru, Karnataka 560019</p>
                            </div>
                            <!-- End Contact Info -->

                        </div>
                        <!-- End Contact Us -->
                    </div>
                    <!-- End Col -->


                    <div class="col-md-6">
                        <div class="contact-us contact-us-last">
                            <div class="contact-icon">
                                <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                            </div>
                            <!-- End contact Icon -->
                            <i class="fas fa-phone fa-2x" style="color: #007bff;"></i>
                            <div class="contact-info" style="margin-left: 20px;">
                                <h3>+91 7349025259</h3>
                                <p>Give us a call !</p>
                            </div>
                            <!-- End Contact Info -->
                        </div>
                        <!-- End Contact Us -->
                    </div>
                    <!-- End Col -->
                </div>
                <!-- End Contact Row -->
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div class="footer-widget footer-left-widget">
                            <div class="section-heading">
                                <h3>Useful Links</h3>
                            </div>
                            <ul>
                                <li>
                                    <a href="/eventsList">Home</a>
                                </li>
                                <li>
                                    <a href="https://campus.bmsce.ac.in/" target="_blank">Our Portal</a>
                                </li>
                                   <li>
                                    <a href="https://www.bmsce.ac.in/" target="_blank">Know More</a>
                                </li>
                            </ul>
                            <ul>
                                 <li>
                                    <a href="/upcoming">Upcoming</a>
                                </li>
                               
                                <li>
                                    <a href="/achivements">Achievements</a>
                                </li>
                                <li>
                                    <a href="/gallery">Gallery</a>
                                </li>
                            </ul>
                        </div>
                        <!-- End Footer Widget -->
                    </div>

                    <!-- End col -->
                    <div class="col-md-12 col-lg-6">
                        <div class="footer-widget">
                            <div class="section-heading">
                                <h3>Get in Touch with us!</h3>
                            </div>
                            <p style="color: rgb(189, 189, 189);">
                            Subscribe us ! Send us a Mail and Get our latest news and updates ! </p>
                            <form action="#">
                                <div class="form-row">
                                    <div class="col dk-footer-form">
                                        <input type="email" class="form-control" placeholder="Email Address">
                                        <button type="submit">
                                            <i class="fas fa-paper-plane"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <!-- End form -->
                        </div>
                        <!-- End footer widget -->
                    </div>
                    <!-- End Col -->
                </div>
                <!-- End Row -->
            </div>
            <!-- End Col -->
        </div>
        <!-- End Widget Row -->
    </div>
    <!-- End Contact Container -->

<div style="background-color: #007bff;" ><div class="AnimateTop"></div></div>

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span>Copyright © 2020, All Right Reserved</span>
                </div>
                <!-- End Col -->
            </div>
            <!-- End Row -->
        </div>
        <!-- End Copyright Container -->
    </div>
    <!-- End Copyright -->
</footer>

    </body>
</html>